.card-footer {
	background: teal;
	border-top: thick;
}
.card {
	color: white;
}
.container-fluid {
	background: teal;
}
.card-body {
	background: teal;
}
.a {
	color: black;
}
.card-header {
	background: teal;
}
